<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">


	<!-- 注解的映射器和适配器 -->
	<mvc:annotation-driven>
	 <mvc:message-converters register-defaults="true">
	      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	         <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
	      </bean>
	   </mvc:message-converters> 
	</mvc:annotation-driven>
	<!-- 
	注解的扫描器 
	会扫描controller、service、repository、resource等注解
	会自动创建被controller、service、repository类的对象
	
	-->
	<context:component-scan base-package="novel"></context:component-scan>
	

    <!-- <context:component-scan base-package="novel.*"></context:component-scan>
     -->
   <!--   <aop:config>
     <aop:aspect ref="redisAspect">
     <aop:around method="around"  pointcut="execution(* novel.service.impl.*.*(..))"/>
     </aop:aspect>
     
     </aop:config> -->
     <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    
	
	
     <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置jsp路径的前缀 -->
		<property name="prefix" value="/" />
		<!-- 配置jsp路径的后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	

	
</beans>